<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
        <base href="/TD5Routage/"/>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.min.js"></script>
        <script src="js/mainModule.js"></script>
        <script src="js/mainController.js"></script>
        <script src="js/routing.js"></script>
    </head>
    <body data-ng-controller="MainController as mCtrl">

    </body>
</html>