<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion des contacts</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Controller.js"></script>
</head>
<body data-ng-app="ApplicationContacts">
    <fieldset data-ng-controller="ControllerContacts as Ctrl">
        <h3>Contacts</h3>
        <input type="text" placeholder="Filter..." ng-model="search">
        <table>
            <tr ng-repeat="contact in Ctrl.contacts | visible | filter:search">
                <td>{{contact.nom}}</td>
                <td>{{contact.prenom}}</td>
                <td>{{contact.email}}</td>
                <td><button ng-click="Ctrl.modifClick()" style="border:none;background-color:white"><img src="modifier.PNG"></button></td>
                <td><button style="border:none;background-color:white"><img src="suppr.PNG"></button></td>
            </tr>
        </table>
    <br>
    <button ng-click="Ctrl.ajoutClick()">+</button>

    <div name="ajout" ng-show="Ctrl.ajoutVisible()">
        <h3>Ajouter un contact</h3>
        <input type="text" placeholder="Entrer un nom...">
        <input type="text" placeholder="Prénom...">
        <input type="text" placeholder="Email...">
        <button>Valider</button>
        <button ng-click="Ctrl.annulerAjout()">Annuler</button>
    </div>

    <div name="modifier" ng-show="Ctrl.modifVisible()">
        <h3>Modifier un contact</h3>
        <input type="text">
        <input type="text">
        <input type="text">
        <button>Valider</button>
        <button ng-click="Ctrl.annulerModif()">Annuler</button>
    </div>

    </fieldset>

</body>
</html>