<!DOCTYPE html>
<html lang="fr" data-ng-app="ApplicationNote">
    <head>
        <meta charset="UTF-8">
        <title>Note Application</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body data-ng-app="MainController as mainCtrl">
        <div>
            Note :
            </br>
            <textarea rows="4" cols="50"></textarea></br>
        </div>
        <button id="enregistrer" ng-click="">Enregistrer</button> <button id="effacer" ng-click="">Effacer</button>
        <fieldset>
            <label>Nombre de caractères restants :</label>
        </fieldset>
    </body>
</html>