<!DOCTYPE html>
<html lang="fr" data-ng-app="ApplicationService">
<head>
    <meta charset="UTF-8">
    <title>Application Service</title>
    <link rel="stylesheet" href="appliService.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="js/appService.js"></script>
    <script src="js/controllerService.js"></script>
</head>
<body ng-controller="ControllerService as Ctrlservice">
<center>
    <div>
        <h1 style="text-align:center">Services</h1>
    </div>
    <fieldset class="main">
            Choisissez les éléments à inclure : {{Ctrlservice.count()}}<br><br>
        <div>
            <button class="button" ng-repeat="service in Ctrlservice.services" ng-class="{'active' : service.active}" ng-click="Ctrlservice.activer(service)">
                {{service.name}} {{service.price | currency: $ : 2}}
            </button>
        </div>
        <hr>
        <div class="total">
            Total : {{Ctrlservice.total() | currency: $ : 2}}<br><br>
            <input type="checkbox" id="promo">
            <input class="codepromo" type="text" id="codepromo" placeholder="Code Promo"><br></p>
        </div>
        <div class="remise" ng-show="false">
            Remise : <br>
            Total avec Remise :
        </div>
    </fieldset>

</center>
</body>
</html>